/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,500,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/* VARIABLES */

// $main-color: #1a8fff;
// $text-color: #777;
// $text-color-light: #ccc;
// $border-color: #eee;
// $bg-color: #f9f9f9;
// $neutral-color: #1a8fff;

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: #777;
  background:#f9f9f9;
  position: relative;
}
